@import "https://www.nerdfonts.com/assets/css/webfont.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: rgb(255 255 255 / 90%);
  font-family: "Gaegu", sans-serif;
  font-size: 12px;
  overflow: hidden;
  padding: 16px;
  margin: 0;
}

.hidden {
  display: none;
}

button {
  background: none;
  color: inherit;
  border: none;
  cursor: pointer;
}

.app {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left,
.right {
  display: flex;
  align-items: center;
  border-radius: 6px;
  overflow: hidden;
  border: 1px solid rgba(77, 77, 77, 0.8);
  background-color: #202020;
  padding: 4px;
}

.item {
  padding: 0 16px;
  overflow: hidden;
  height: 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.date,
.focused,
.item:hover {
  background-color: #a7c080;
  color: #1c1c1c;
}

.network,
.battery,
.weather {
  display: flex;
  align-items: center;
  gap: 8px;
}

.app-bar {
  display: none;
}
