@import "https://www.nerdfonts.com/assets/css/webfont.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: rgb(255 255 255 / 90%);
  font-family: "Gaegu", sans-serif;
  font-size: 12px;
  overflow: hidden;
  padding: 16px;
  margin: 0;
}

.hidden {
  display: none;
}

button {
  background: none;
  color: inherit;
  border: none;
  cursor: pointer;
}

.app {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left,
.right {
  display: flex;
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid rgba(77, 77, 77, 0.5);
}

.item {
  padding: 0 16px;
  background-color: #202020;
  overflow: hidden;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.item:hover {
  background-color: #4d4d4d;
}

.focused {
  font-weight: bold;
  background-color: #4d4d4d;
}

.network,
.battery,
.weather {
  display: flex;
  align-items: center;
  gap: 8px;
}

.app-bar {
  display: none;
}
