/**
 * Import the Nerdfonts icon font.
 * Ref https://www.nerdfonts.com/cheat-sheet for a cheatsheet of available Nerdfonts icons.
 */
@import "https://www.nerdfonts.com/assets/css/webfont.css";

body {
  color: rgb(255 255 255 / 90%);
  font-family: "JetBrainsMono Nerd Font", ui-monospace, monospace;
  font-size: 12px;
  overflow: hidden;
}

#root {
  /*border-bottom: 1px solid rgb(255 255 255 / 5%);*/
  /*background: #232634;*/
  background: transparent;
}

.app {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  height: 100%;
  padding: 12px;
}

.left,
.center,
.right {
  display: flex;
  align-items: center;
}

.center {
  justify-self: center;
}

.right {
  justify-self: end;
}

i {
  color: rgb(255 255 255 / 90%);
}

.badge {
  display: flex;
  align-items: center;
  gap: 8px;
  background: #232634;
  padding: 12px 16px;
  color: rgb(255 255 255 / 90%);
  border: none;
  cursor: pointer;
}

.network {
  background-color: #7dc4e4;
}

.memory {
  background-color: #b185db;
}

.cpu {
  background-color: #c6a0f6;
}

.battery {
  background-color: #ff83ca;
}

.weather {
  background-color: #fcabe1;
}

.workspaces {
  display: flex;
  align-items: center;
}

.workspace {
  background: #232634;
  color: rgb(255 255 255 / 90%);
  border: none;
  cursor: pointer;

  &.displayed {
    background: rgb(255 255 255 / 15%);
  }

  &.focused,
  &:hover {
    background: #8aadf4;
  }
}

.tiling-direction {
  background: #b185db;
  font-size: 14px;
}

.cpu .high-usage {
  color: #900029;
}

.battery {
  position: relative;
}

.battery .charging-icon {
  position: absolute;
  font-size: 7px;
  left: 8px;
  top: 17px;
}

.network,
.logo,
.cpu,
.memory {
  display: none;
}
